<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通过keyup事件实现名称案例</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--
            分析：我们需要通过监听文本的变化来更新最终文本的结果
        -->
        <input type="text" v-model="firstname" @keyup="getFullname"> +
        <input type="text" v-model="lastname" @keyup="getFullname"> =
        <input type="text" v-model="fullname">
    </div>

    <script>
        //创建一个Vue实例，得到View Model
        var vm = new Vue({
            el: '#app',
            data: {
                firstname:'',
                lastname:'',
                fullname:''
            },
            methods: {
                getFullname(){
                    this.fullname = this.firstname + "-" + this.lastname;
                }
            }
        });
    </script>

</body>
</html>